<!doctype html>
<html lang="zh">

<head>
    <title>医生排班</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 引入element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <!-- 首页导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#" onclick="window.location.href='/index.html'">东方医院 🏥</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item active mx-3">
                    <a class="nav-link" href="#" onclick="window.location.href='/index.html'">首页</a>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">医院概况</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#" onclick="window.location.href='/description.html'">医院介绍</a>
                        <!-- <a class="dropdown-item" href="#">组织架构</a>
                        <a class="dropdown-item" href="#">医院历史</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">医疗服务</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#" onclick="window.location.href='/scheduling.html'">门诊排班</a>
                        <a class="dropdown-item" href="#" onclick="window.location.href='/appointment.html'">预约挂号</a>
                        <!-- <a class="dropdown-item" href="#">住院须知</a>
                        <a class="dropdown-item" href="#">医保专区</a>
                        <a class="dropdown-item" href="#">体检服务</a> -->
                    </div>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="#" onclick="window.location.href='/index.html'">科室导航</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="#">学术交流</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="搜索科室、医师">
                <button class="btn btn-success my-2 my-sm-0 px-3" type="submit">搜索</button>
            </form>
        </div>
    </nav>

    <!-- 巨幕 -->
    <div class="jumbotron jumbotron-fluid pb-1 pt-5 mb-0">
        <div class="container">
            <h1 class="display-3">门诊排班</h1>
            <p class="lead">东方医院</p>
        </div>
    </div>
    <!-- 页面导航 -->
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="index.html">科室导航</a>
        <span class="breadcrumb-item active">门诊排班</span>
        <a class="breadcrumb-item" href="patient.html">就诊人管理</a>
        <a class="breadcrumb-item" href="appointment.html">预约挂号</a>
    </nav>


    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- 科室 -->
                    <h1 class="lead">科室导航</h1>
                    <ul class="list-group">

                        <li class="list-group-item " v-for="(item, item_id) in departments" :key="item_id">
                            {{item.title}}
                            <div class="list-group">
                                <template v-for="(it, it_id) in item.sub">
                                    <a href="#" class="list-group-item list-group-item-action text-primary"
                                        @click="getschedulingsByDepartment(it)" :key="it_id">{{it.title}}</a>
                                </template>
                                <!-- <a href="#" class="list-group-item list-group-item-action text-primary">{{item}}</a> -->
                            </div>
                        </li>
                    </ul>

                </div>
                <div class=" col-lg-9 col-md-6 col-sm-12">
                    <h1 class="font-weight-light h2">{{title}}</h1>
                    <table class="table table-bordered">
                        <thead class="">
                            <tr>
                                <th width="100px">星期一</th>
                                <th width="100px">星期二</th>
                                <th width="100px">星期三</th>
                                <th width="100px">星期四</th>
                                <th width="100px">星期五</th>
                                <th width="100px">星期六</th>
                                <th width="100px">星期日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(week, w) in table" :key="w">
                                <td v-for="(day, d) in week" :key="d" width="100px">
                                    <div style="font-size: 5px;">{{day.key}}</div>
                                    <div style="font-size: 5px;" v-for="doctor in day.value">
                                        {{doctor.name}} <el-tag size="mini">{{doctor.level}}</el-tag>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 页脚&网址地图 -->
    <div class="jumbotron jumbotron-fluid mb-0 mt-5 py-3">
        <div class="container">
            <p class="lead text-center">copyright 牛耳教育@2022</p>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/calendar.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    baseURL: "http://172.22.149.135:8080",
                    schedulings: {}, // map<date, List<doctor>>
                    departments: [],
                    title: "",
                    calendar: [], // 当月日历
                    table: []
                }
            },
            async mounted() {
                await this.initDepartments();
                const nowDate = new Date();
                this.calendar = getCalendar(`${nowDate.getFullYear()}-${nowDate.getMonth() + 1}`);
                this.initSchedulings();
                this.initTable();
            },
            methods: {
                initSchedulings() {
                    this.calendar.forEach(element => {
                        this.schedulings[element.date] = [];
                    });
                },
                async initDepartments() {
                    const res = await axios.get(this.baseURL + "/api/dept");
                    if (res.status === 200) {
                        this.departments = res.data;
                    }
                },
                getschedulingsByDepartment(it) {
                    this.title = it.title;
                    this.initSchedulings(); // 清空
                    axios.get(this.baseURL + "/api/scheduling/dept/" + it.id).then(res => {
                        if (res.status === 200) {
                            const data = res.data; // 排班表
                            data.forEach(element => {
                                this.schedulings[element.time].push(element.doctor[0]);
                            });
                            this.initTable();
                        }
                    });
                },
                initTable() {
                    // console.log(this.table[0].push);
                    this.table = [];
                    let j = -1;
                    for (let i = 0; i < this.calendar.length; i++) {
                        // console.log(this.calendar[i]);
                        let key = this.calendar[i].date;
                        if (i % 7 === 0) {
                            this.table.push([]);
                            j++;
                        }
                        this.table[j].push({
                            key,
                            value: this.schedulings[key]
                        });
                    }
                    // console.log(this.table);
                }
            }
        });
    </script>
</body>

</html>